## Functions

In [1]:
print("hello this my first program")

hello this my first program

In [2]:
l=[1,2,3,4,5]
len(l)

5

In [ ]:
## they all are in built function

In [5]:
# for creating own function then use 
def test():
    pass

In [7]:
def test1():
     print("This is first function of mine")

In [8]:
test1()

This is first function of mine

In [9]:
test1() + "Manjot"

This is first function of mine

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [14]:
## print is not type to concatenate like this you have to use return 
def test2():
    return "This is my first function with return "

In [15]:
test2()+ "Manjot"

'This is my first function with return Manjot'

In [6]:
## return can get multiple return from an function
def test3():
     return 1,4," Pw skills ",34.56

In [7]:
test3()

(1, 4, ' Pw skills ', 34.56)

In [22]:
a=1,2,3,4

In [23]:
a

(1, 2, 3, 4)

In [24]:
## same this in return
a,b,c,d=1,2,34.56,True

In [25]:
d

True

In [8]:
test3()

(1, 4, ' Pw skills ', 34.56)

In [5]:
def test3():
     return 1,4," Pw skills ",34.56

In [6]:
test3()

(1, 4, ' Pw skills ', 34.56)

In [7]:
test3()[2]

' Pw skills '

In [8]:
# you can also assign function in return with more than one value of return to different different varibales
test3()

(1, 4, ' Pw skills ', 34.56)

In [10]:
a,b,c,d=test3()

In [11]:
a

1

In [12]:
c

' Pw skills '

In [13]:
# now performing different operation and logic inside the the function just take care of indentation

In [16]:
def test4():
    a=3*4+5
    return a

In [17]:
test4()

17

In [18]:
type(test4())

int

In [22]:
def test5(a,b): ## passing the function argument 
    c=a+b
    return c

In [23]:
test5(10,10)  ## calling the function argument

20

In [24]:
test5("man","jot") ## it will also concatenate strings

'manjot'

In [25]:
test5([1,2,3,4,5],[4,5,6,7,8]) # list also concatenate

[1, 2, 3, 4, 5, 4, 5, 6, 7, 8]

In [2]:
def test5(a,b): ## passing the function argument 
    c=a+b
    return c

In [3]:
## how to reverse pass in function 
test5(b="man",a="jot")

'jotman'

In [3]:
l=[1,2,3,4,5,"manj","pw",[1,2,34,5,5,3]]
# make a function where I have to filtre out all the numberic value

In [19]:
def test6(a):
    n=[]
    for i in a:
        if type(i)==int or type(i)==float:
            n.append(i)
       
    return n

In [20]:
test6(l)

[1, 2, 3, 4, 5]

In [5]:
# make a prime number function as your homework for this do it

In [5]:
list_1=[1,2,3,4,5,6,"strings","chd",34.5,[99,100,101,102]]
list_1

[1, 2, 3, 4, 5, 6, 'strings', 'chd', 34.5, [99, 100, 101, 102]]

In [10]:
def test8(a):
    n=[]
    s=[]
    for i in a:
        if type(i)== int or type(i)==float:
            n.append(i)
        elif  type(i)==str:
            s.append(i)
            
        
    return n,s

In [11]:
test8(list_1)

([1, 2, 3, 4, 5, 6, 34.5], ['strings', 'chd'])

In [19]:
# make a prime number function as your homework for this do it
lst=[1,2,3.6,4,5,6.64,7,8.765,9,10.6]
lst

[1, 2, 3.6, 4, 5, 6.64, 7, 8.765, 9, 10.6]

In [20]:
def test(a):
    n=[]
    for i in a:
        if type(i)==float:
            n.append(i)
    return n

In [68]:
test(lst)

[3.6, 6.64, 8.765, 10.6]

In [41]:
## nested loop
new_list=[1,2,3,4,5,5.5,"hello","bye",[6,7,8,9,9.8,"string"]]
new_list

[1, 2, 3, 4, 5, 5.5, 'hello', 'bye', [6, 7, 8, 9, 9.8, 'string']]

In [81]:
#nested list
def test11(a):
    n=[]
    for i in a:
        if type(i)==list:
        for j in i:
            if (type)

In [82]:
test11(new_list)

[1, 2, 3, 4, 5, 5.5]

In [1]:
## for multiple arguments:
def new(a,b,c,d,e):
    return

In [2]:
new(1,2,3,4,5)

In [3]:
## but what if i enter more then 5 arguments let's try it out
new(1,2,3,4,5,6)

TypeError: new() takes 5 positional arguments but 6 were given

In [6]:
## it will not accept 
## so here is a solution for multiple values * args
## *args you can store multiple values and multiple forms of values in it like dictionary,set,tuple,list etc
def new1(*args):
    return args

In [7]:
new1(1,2,3,4,5,{1,2,3,4},[4,849202,483,9292],8.884,{"key":"value"},(2,3,"jot"))

(1,
 2,
 3,
 4,
 5,
 {1, 2, 3, 4},
 [4, 849202, 483, 9292],
 8.884,
 {'key': 'value'},
 (2, 3, 'jot'))

In [ ]:
## yes, wow it can store multiple forms and values at one time great

In [8]:
## now,here is a suprise it can also use your name with * jot try it

def new2(*jot):
    return new2

In [10]:
new2=(1,True,{1,2,3,4,5},[2,4,3,2,3],{"key":"value"},"shre","jot",8.994)

In [13]:
new2

(1,
 True,
 {1, 2, 3, 4, 5},
 [2, 4, 3, 2, 3],
 {'key': 'value'},
 'shre',
 'jot',
 8.994)

In [28]:
def test4(*args,a):
     return args,a

In [17]:
test4(1,2)

TypeError: test4() missing 1 required keyword-only argument: 'a'

In [30]:
# so you have to enter atleast one more varible and also show that how to seperate it from *args
test4(1,2,2,3,4,a=["manj","kjd",(1,23,4)])

((1, 2, 2, 3, 4), ['manj', 'kjd', (1, 23, 4)])

In [36]:
## now make a function with help of * args and give multiple value and forms of value extract list out of 
## and print it.

def Test(*args):
    l=[]
    for i in args:
          
        if type(i)==list:
            l.append(i)
    return l

In [37]:
Test(1,2,3,4,[1,"mah",9.09,"jo",True,90],(1,2,3,[1,2,3]),[5,84,894,929])

[[1, 'mah', 9.09, 'jo', True, 90], [5, 84, 894, 929]]

In [52]:
## yes yes , this program belongs to list in tuples 
## we cannot store list in sets
def Test2(*args):
    l2=[]
    for i in args:
        if type(i)==tuple:
            for j in i:
                if type(j)==list:
                    l2.append(j)
        
        elif type(i)==list:
              l2.append(i)
    return l2

In [55]:
Test2(1,2,3,4,[1,"mah",9.09,"jo",True,90],(1,2,3,["list","in","tuple"]),[5,84,894,929])

[[1, 'mah', 9.09, 'jo', True, 90], ['list', 'in', 'tuple'], [5, 84, 894, 929]]

In [2]:
## now we would like to store n number of key and value i.e dictionary here:
## for this we use **kwargs means key word
## here is a  example
def testf(**kwargs):
    return kwargs

In [3]:
testf()

{}

In [4]:
type(testf())

dict

In [5]:
testf

In [7]:
testf(a=1, b=23, c=[1,2,3],d=(1,2,3))

{'a': 1, 'b': 23, 'c': [1, 2, 3], 'd': (1, 2, 3)}

In [ ]:
## now every data we have formed here is in form of key and value here

## Generator function

In [1]:
range(1,10)

range(1, 10)

In [3]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [4]:
# make a fucntion to extract int out of the list:
l=[1,2,3,4,5,6,7,8,"man""pw"]

In [7]:
def test1(a):
    n=[]
    for i in a:
        if type(i)==int:
            n.append(i)
    return n

In [8]:
test1(l)

[1, 2, 3, 4, 5, 6, 7, 8]

In [33]:
## now with help of generator create fib number without storing them in main memomry and it should produce result continue
def test_fib(n):
    a,b =1,1
    for i in range(n):
        yield a
        a,b=b,a+b

In [34]:
# now call the function
test_fib(10)

In [35]:
for i in test_fib(11):
    print(i)

1
1
2
3
5
8
13
21
34
55
89